/***************全局样式********************/
*{
	box-sizing: border-box;
	padding:0;
	margin: 0;
	list-style:none;
	text-decoration:none;
	outline: none;
}
.lf{float: left}
.rf{float: right}
body{
	font:14px  Helvetica Neue,Helvetica,sans-serif,"Microsoft yahei",Arial;
}
/***************尾部样式********************/
footer{
	display: -webkit-box;
	background: #2F2F2F;
	width:100%;
	height:55px;
	position:fixed;
	bottom:0;
}
footer a{
	display: block;
	font-size: 12px;
	width:25%;
	height:55px;
	padding-top: 33px;
	text-align: center;
	background: no-repeat center 12px;
	background-size: 21px;
	color: #C4C4C4;
}
footer a.active{
	background-color: #ED3037;
	color: #FCFAFA;
}
footer a:nth-child(1){
	/*background-position-y: 12px;*/
	background-image:url("../images/i-home.png");
}
footer a:nth-child(2){
	/*background-position-y: 11px;*/
	background-image:url("../images/i-category.png");
}
footer a:nth-child(3){
	background-image:url("../images/i-cart.png");
	/*background-position-y: 14px;*/
}
footer a:nth-child(4){
	/*background-position-y: 12px;*/
	background-image:url("../images/i-wo.png");
}
footer a.active:nth-child(1){
	background-image:url("../images/i-home-active.png");
}
footer a.active:nth-child(2){
	background-image:url("../images/i-category-active.png");
}
footer a.active:nth-child(3){
	background-image:url("../images/i-cart-active.png");
}
footer a.active:nth-child(4){
	background-image:url("../images/i-wo-active.png");
}
